{% extends 'layout/base.html' %}

{% block header %}
<meta property="fb:app_id" content="615318612149441" />
<meta property="og:url" content="http://paluwagan.genisys.technology/login/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Share. Contribute. Reward. #MyPaluwagan #Genisys" />
<meta property="og:description" content="Genisys is a social trustworthy app that gives incentive for every successful joiner. Sign up now! Incentives are waiting once you clicked join and become a member!! Hurry!" />
<meta property="og:image" content="http://paluwagan.genisys.technology/static/img/banner.png" />
{% endblock header %}


{% block content %}
{% load staticfiles %}
<br><br>
<div class="section" id="login-banner">
  <div class="container">
    <div class="row center">
        <img class="header" src="{% static 'img/placeholder.png' %}" height="200px">
    </div>
  </div>
</div>
<div class="container login">
  <br>
  <div class="row">
    <form class="col s12">
      <div class="row center">
        <div class="col s12">
            <a class="waves-effect waves-light btn deep-purple" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </div>
      </div>
  </div>
    </form>
</div>
</div>
{% endblock content %}
