GENISYS TERMS AND CONDITIONS
<br>
1 DEFINITIONS
<br><br>
Genisys - an application that offers a wide range of services including but not limited to paluwagan services.

MyPaluwagan - a feature in Genisys application that offers paluwagan services.

Genisys Wallet – An E-Money instrument that stores Philippine Peso (Php) value that may resides in the Genisys system. It is an account that is linked to the MyPaluwagan joiner's bank or financial institution account that may or may not be evidenced by a physical card. 

MyPaluwagan Contributor – A MyPaluwagan user registered with Genisys.

Join - The process of joining a Paluwagan.
<br><br>
2 GENISYS WALLET
<br><br>
The Genisys Wallet is a re-loadable E-Money instrument. It is not a deposit account and therefore, it is not covered by the Philippine Deposit Insurance Corporation (PDIC) and it does not earn interest. However, it is subject to the rules and regulations of the Bangko Sentral ng Pilipinas (BSP) and the Anti-Money Laundering Act (AMLA), as amended.

The Genisys Wallet can be activated through a registration process using a verified Facebook account. 

Genisys shall not be liable for any failure by Genisys contributors to avail of Genisys services due to the non-compliance with the application requirements.
<br><br>
3 ACTIVATION AND DE-ACTIVATION OF GENISYS WALLET FEATURES
<br>
Genisys may introduce other Genisys Wallet features. Moreover, it may also deactivate existing features at its option.

On a case to case basis, Genisys may opt to suspend or terminate a Genisys Contributor's privilege to use a particular feature, whenever it deems appropriate and necessary, particularly, but not limited to occasions when there are fraudulent transactions. In such cases, Genisys may charge a fee upon reactivation of the said feature, as per request of the Genisys Contributor. The approval of the request shall be the sole option of Genisys.

Only one Genisys Wallet may be assigned to a Genisys Contributor.
<br><br>
4 FEES, RATES AND OTHER CHARGES
<br><br>
Genisys Contributors shall pay a fee to join a Paluwagan under the MyPaluwagan feature of Genisys App. A non-refundable and non-transferable joining fee of P100 is required. Genisys Contributor agrees to pay other fees and charges related to his/her Genisys Wallet and its use, as may be imposed by Genisys. Fees and other charges, as may be applicable, shall be inclusive of all applicable Philippine taxes and shall be debited from the Genisys Contributor's Genisys Wallet or paid upfront.

Charging of dormancy maintenance fees shall apply to Genisys Wallets that have not been used for any monetary Genisys MyPaluwagan transaction at least six (6) months from the last date of transaction. The maintenance fee shall be automatically debited from the Genisys Contributor's Wallet every 10th day of the month.

Genisys Wallets that remain inactive for 6 months and with zero balances shall be automatically closed.
<br><br>
5 PHONE AND GENISYS WALLET SECURITY
<br><br>
The Genisys Contributor shall be responsible for the security of the Genisys Wallet. All transactions made using the Genisys Wallet are conclusively presumed made by the Genisys Contributor and the Genisys Contributor shall be liable therefore.
<br><br>
6 CHANGE OF NAME
<br><br>
Any change in the Genisys Contributor's name in his/her Facebook account shall be automatically implemented in the Genisys app.
<br><br>
7 EXCLUSION FROM LIABILITY
<br><br>
Genisys makes no warranty, express or implied, regarding Genisys MyPaluwagan.

The Genisys Service is offered on an "AS IS", "AS AVAILABLE" basis without warranties of any kind, other than warranties that are incapable of exclusion, waiver or limitation under the laws applicable to this Agreement. Without limiting the generality of the foregoing, Genisys makes no warranty: (1) as to the content, quality or accuracy of data or information provided by Genisys hereunder or received or transmitted using the Genisys Services; (2) as to any service or product obtained using the Genisys Services; (3) that the Genisys Services will be uninterrupted or error-free; or (4) that any particular result or information will be obtained.

Genisys shall not be liable for any loss, cost, compensation, dtributor's preferences and needs;
<br><br>
9.2.3 Communicate relevant products and/or advisories to Genisys Contributor;
<br><br>
9.2.4 Show Genisys Contrervice shall be construed as acceptance by the Genisys Contributor of the amendments to these Terms and Conditions.
<br><br>
15 AGREEMENT
<br><br>
The Genisys Contributor agrees to be bound by the Terms and Conditions governing the issuance and use of the Genisys Wallet upon the Genisys Contributor's downloading, activating or using Genisys App. The Genisys Contributorshall continue to be liable for all charge
