{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'includes/nav.html' with page_title='Home' %}
<div class="row center">
  <br><br>
  <div class="col s12">
    <h5 class="grey-text text-darken-4"> <span class="thin">
        php
      </span>
      {{ balance | floatformat:2 }}
    </h5>
  </div>
  <div class="col s12">
    <span class="light">
      Available Balance
    </span>
  </div>
</div>
<div class="row recent-transactions lime accent-1">
  <div class="col s12">
    <span class="light">
      Available Paluwagans
    </span>
  </div>
</div>

<ul class="collection">
  {% for bangka in paluwagans %}
  <li class="collection-item avatar">
      <img  src="{% if bangka.avatarURL == None %}
                    {% static '/img/placeholder.png' %}
                 {% else %}
                    {{ bangka.avatarURL }}
                 {% endif %}"
            alt="" class="circle creator">
    <p><i class="material-icons">people</i> {{ bangka.memberCount }}
    <p><i class="material-icons">attach_money</i>{{ bangka.memberAmount }}
    <p><i class="material-icons">title</i>{{ bangka.crowdName }}

    <a class="btn tertiary-content green darken-3 home-content" href="/paluwagan/{{ bangka.crowdID }}/">
        Open
    </a>
  </li>
  {% endfor %}
</ul>


{% endblock content %}
