{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'includes/nav.html' with page_title='MyAccount' %}

{% include 'includes/fb-root.html' %}

<div class="row center">
  <br>
  <div class="col s12">
    <h5 class="grey-text text-darken-4"> <span class="thin">
        php
      </span>
      {{ balance | floatformat:2 }}
    </h5>
  </div>
  <div class="col s12">
    <span class="light">
      Total Funds Raised
    </span>
  </div>
</div>

<div class="row recent-transactions grey lighten-2">
  <div class="col s12">
    <span class="light">
      My Paluwagan
    </span>
  </div>
</div>

<ul class="collection">
  {% for bangka in paluwagan %}
  <li class="collection-item avatar">
      <img  src="{% if bangka.avatarURL == None %}
                    {% static '/img/placeholder.png' %}
                 {% else %}
                    {{ bangka.avatarURL }}
                 {% endif %}"
            alt="" class="circle creator">
    <p><i class="material-icons">people</i> {{ bangka.inviteCount }}
    <p><i class="material-icons">attach_money</i>100
    <p><i class="material-icons">title</i>{{ bangka.crowdName }}

    {% include 'includes/fb-share-button.html' with paluwaganUrl="http://paluwagan.genisys.technology/login/?next=/paluwagan/"|add:bangka.nodeID|add:"/" %}
    <a class="btn tertiary-content green darken-3" href="/paluwagan/{{ bangka.nodeID }}/">
        Open
    </a>
  </li>
  {% endfor %}
</ul>


{% endblock content %}
