<html>
  <head>
    <title>Genisys</title>
    <!-- You can use Open Graph tags to customize link previews.
      Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
      <meta property="og:url"           content="http://localhost:8000/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Sample spiel here" />
      <meta property="og:description"   content="some descriptions here" />
      <meta property="og:image"         content="http://localhost:8000/img/placeholder.png" />
  </head>
  <body>
</html>
