{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block header %}
<meta property="og:url" content="http://paluwagan.genisys.technology/login/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ spiel }}" />
<meta property="og:description" content="Lorem ipsum" />
<meta property="og:image" content="{{ img_url }}" />
{% endblock header %}

{% block content %}
{% include 'includes/nav.html' with page_title='' %}

<div class="row center">
  <br>
  <div class="col s12">
    <h5 class="grey-text text-darken-4"> <span class="thin">
        php
      </span>
      1.00
    </h5>
  </div>
  <div class="col s12">
    <span class="light">
      Available Balance
    </span>
  </div>
</div>

<div class="row recent-transactions grey lighten-2">
  <div class="col s12">
    <span class="light">
      My Paluwagan
    </span>
  </div>
</div>
<br>
{% include 'includes/chart.html' %}
<div id="piechart" style="height: 300px;"></div>

<div class="row center">
    <div class="col s12">
        <h5>How It Works?</h5>
    </div>
</div>

{% endblock content %}
