{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block header %}
<meta property="fb:app_id" content="615318612149441" />
<meta property="og:url" content="http://paluwagan.genisys.technology/login/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Share. Contribute. Reward. #MyPaluwagan #Genisys" />
<meta property="og:description" content="Genisys is a social trustworthy app that gives incentive for every successful joiner. Sign up now! Incentives are waiting once you clicked join and become a member!! Hurry!" />
<meta property="og:image" content="http://paluwagan.genisys.technology/static/img/banner.png" />
{% endblock header %}

{% block content %}
{% include 'includes/nav.html' with page_title='' %}

<div class="row center">
  <br>
  <div class="col s12">
    <h5 class="grey-text text-darken-4"> <span class="thin">
        php
      </span>
      {{ balance | floatformat:2 }}
    </h5>
  </div>
  <div class="col s12">
    <span class="light">
      Available Balance
    </span>
  </div>
</div>

<div class="row recent-transactions lime accent-1">
  <div class="col s12">
    <span class="light">
      My Paluwagan
    </span>
  </div>
</div>
<br>
{% include 'includes/chart.html' %}
<div id="piechart" style="height: 300px;"></div>

<div class="row center">
    <div class="col s12">
        <h5>How It Works?</h5>
    </div>
</div>

{% endblock content %}
